<section>
  <div class="card" *ngFor="let enemy of enemy">
    <div class="card-body">
      <div class="card-body-left">
        <p class="title en"><span class="span-title">Enemy Name</span></p>
        <p>
          <span class="id"
            >No.{{ enemy.id_enemy.toString().padStart(3, "0") }}</span
          >
          {{ enemy.enemy_name }} <span class="id">Lv.{{ enemy.lv }}</span>
        </p>
        <p class="title hp"><span class="span-title">HP</span></p>
        <p class="id">{{ enemy.hp }}</p>
        <img src="assets/enemy/{{ enemy.id_enemy }}.png" />
      </div>
      <div class="card-body-right">
        <p class="exp">
          EXP <span class="exp-number">{{ enemy.exp }}</span>
        </p>

        <p class="title"><span>Weakness</span></p>
        <div class="stats_image">
          <p *ngIf="enemy.stats.poison === -1" class="weakness info">
            <img src="assets/stats/poison.png" />
          </p>
          <p *ngIf="enemy.stats.curse === -1" class="weakness info">
            <img src="assets/stats/curse.png" />
          </p>
          <p *ngIf="enemy.stats.stone === -1" class="weakness info">
            <img src="assets/stats/stone.png" />
          </p>
          <p *ngIf="enemy.stats.paralyze === -1" ; class="weakness info">
            <img src="assets/stats/paralyze.png" />
          </p>
          <p *ngIf="enemy.stats.fire === -1" class="weakness info">
            <img src="assets/stats/fire.png" />
          </p>
          <p *ngIf="enemy.stats.ice === -1" class="weakness info">
            <img src="assets/stats/ice.png" />
          </p>
          <p *ngIf="enemy.stats.thunder === -1" class="weakness info">
            <img src="assets/stats/thunder.png" />
          </p>
          <p *ngIf="enemy.stats.wind === -1" class="weakness info">
            <img src="assets/stats/wind.png" />
          </p>
          <p *ngIf="enemy.stats.earth === -1" class="weakness info">
            <img src="assets/stats/earth.png" />
          </p>
          <p *ngIf="enemy.stats.light === -1" class="weakness info">
            <img src="assets/stats/light.png" />
          </p>
          <p *ngIf="enemy.stats.dark === -1" class="weakness info">
            <img src="assets/stats/dark.png" />
          </p>
        </div>

        <p class="title"><span>Tolerance</span></p>
        <div class="stats_image">
          <p *ngIf="enemy.stats.poison === 1" class="tolerance info">
            <img src="assets/stats/pison.png" />
          </p>
          <p *ngIf="enemy.stats.curse === 1" class="tolerance info">
            <img src="assets/stats/curse.png" />
          </p>
          <p *ngIf="enemy.stats.stone === 1" class="tolerance info">
            <img src="assets/stats/stone.png" />
          </p>
          <p *ngIf="enemy.stats.paralyze === 1" ; class="tolerance info">
            <img src="assets/stats/paralyze.png" />
          </p>
          <p *ngIf="enemy.stats.fire === 1" class="tolerance info">
            <img src="assets/stats/fire.png" />
          </p>
          <p *ngIf="enemy.stats.ice === 1" class="tolerance info">
            <img src="assets/stats/ice.png" />
          </p>
          <p *ngIf="enemy.stats.thunder === 1" class="tolerance info">
            <img src="assets/stats/thunder.png" />
          </p>
          <p *ngIf="enemy.stats.wind === 1" class="tolerance info">
            <img src="assets/stats/wind.png" />
          </p>
          <p *ngIf="enemy.stats.earth === 1" class="tolerance info">
            <img src="assets/stats/earth.png" />
          </p>
          <p *ngIf="enemy.stats.light === 1" class="tolerance info">
            <img src="assets/stats/light.png" />
          </p>
          <p *ngIf="enemy.stats.dark === 1" class="tolerance info">
            <img src="assets/stats/dark.png" />
          </p>
        </div>

        <p class="title"><span>Item Dropped</span></p>
        <ng-container *ngFor="let dropped of enemy.enemy_dropped">
          <p class="dropped info">
            <img src="assets/{{ dropped.category }}/{{ dropped.name }}.png" />
            {{ dropped.name }}
          </p>
        </ng-container>
        <ng-container *ngIf="enemy.enemy_dropped.length === 1">
          <p class="dropped info">---</p>
        </ng-container>
        <ng-container *ngIf="enemy.enemy_dropped.length === 0">
          <p class="dropped info">---</p>
          <p class="dropped info">---</p>
        </ng-container>

        <p class="title"><span>Steal</span></p>
        <ng-container *ngFor="let stolen of enemy.enemy_stolen">
          <p class="dropped info">
            <img src="assets/{{ stolen.category }}/{{ stolen.name }}.png" />
            {{ stolen.name }}
          </p>
        </ng-container>
        <ng-container *ngIf="enemy.enemy_stolen.length === 0">
          <p class="dropped info">---</p>
        </ng-container>
      </div>
    </div>

    <div class="card-footer">
      <p class="description">
        {{ enemy.enemy_description }}
      </p>
    </div>
  </div>
</section>
